.nav-bg {
    background-color: #000 !important;
}

.navbar-brand {
    color      : #fff !important;
    font-weight: bold;
    font-size  : 30px;
    font-style : italic;
}

.nav-item a {
    color      : #fff !important;
    font-weight: 700;
    font-size  : 18px;
}

.navbar-light .navbar-toggler {
    border-color    : #fff;
    background-color: #e3e3e3;
}